.nav {
  background: rgba(0,0,0,1);
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;

  a {
    display: block;
    padding: 1rem 2rem;
    color: #fff;
    display: flex;
    align-items: center;
  }

  @media (min-width: 768px) {
    width: auto;
    margin: 2rem;
    left: 50vw;
    transform: translateX(-50%);
    border-radius: 3000px;

    a:nth-child(2) {
      display: none;
    }
  }
}

.searchBox {
  display: none;
  margin: 2rem;
  top: 0;
  left: 0;

  // google maps/satellite tab spacing
  margin-top: 5rem;
  [class*=searchScreen] & {
    margin-top: 2rem;
  }

  input {
    width: 100%;
    font-size: 1rem;
    line-height: 1;
    padding: .8rem 1.2rem;
    border-radius: 3000px;
    border: 1px solid rgba(0,0,0,.10);
  }

  input + svg {
    fill: #a4a4a4;
    display: block;
    align-self: center;
    box-sizing: border-box;
    width: 35px;
    height: 32px;
    padding: .5rem;
    border-radius: 3000px;
    margin-left: 1rem;
    background: rgba(0,0,0,1);
    cursor: pointer;

    &:hover {
      background: rgba(0,0,0,.7);
    }

    &[class="active"],
    &:focus {
      background: #EA4335;
      fill: #000;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    position: fixed;
    [class*=searchScreen] & {
      position: absolute;
      top: .5rem;
      left: .5rem;
      margin: 0;
    }

    input {
      min-width: 320px;
    }
  }
}

.list {
  padding: 1rem;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: stretch;

  @media (max-width: 767px) {
    padding-bottom: 6rem;
  }

  main {
    overflow-y: auto;
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    align-items: center;
  }

  li {
    width: 100%;
    display: flex;
    background: #F5F5F5;
    border-radius: 3000px;
    justify-content: space-between;
    margin: 0.3rem 0;
    overflow: hidden;
    cursor: pointer;
    transition: all ease-in-out .3s;

    :hover > & {
      filter: brightness(92%);
    }

    &:hover {
      filter: brightness(100%);
    }

    [class*=list-item] {
      display: flex;
      padding: .5rem;
      justify-content: center;
      align-items: center;
    }

    [class*=icon] {
      background: red;
      min-width: 2rem;
    }

    [class*=title] {
      width: 100%;
      justify-content: flex-start;
    }

    [class*=min],
    [class*=max] {
      border-radius: 3000px;
      padding: 0 1rem;
      line-height: 1.6rem;
      margin: 0.5rem;
    }

    [class*=max] {
      background: #FFCCCC;
      color: #FE0000;
      margin-right: 0;
    }

    [class*=min] {
      background: #CCE1FF;
      color: #005DFF;
    }
  }
}
